{% extends 'base.html' %}

{% load static %}
    
{% block title %}
Issued Books
{% endblock %}

{% block content %}

{% if not books  %}

<h1 class="text-danger text-center display-5 pt-5">No Issued Books!</h1>

{% else %}

<h3 class="alert  text-center  mb-5" >
    ISSUED BOOKS 
</h3>

<div class="container my-5 ">
                
    <div class="row">
        <div class="col-sm-12">
            
            <table class="table  table-hover text-center text-dark" >
                <thead>
                    <tr>
                       
                        <th>BOOK NAME</th>
                        <th>AUTHOR</th>
                        <th>IMAGE</th>
                        <th>PUBLISHED YEAR</th>
                        <th>LANGUAGE</th>
                        <th>READING PRICE</th>
                        <th>CATEGORY</th>
                        <th>ISSUE DATE</th>
                        <th>EXPIRY DATE</th>
                        <th>STATUS</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for p in books %}
                    <tr>
                        <td>{{ p.book.name}}</td>
                        <td>{{ p.book.author}}</td>
                        <td>
                            {% if p.book.image %}
                            <img src="{{ p.book.image.url }}" width="60px">
                            {% else %}
                            <img src="{% static 'images/default.png' %}" alt="" width="60px">
                            {% endif %}
                        </td>
                        <td>{{ p.book.publish_year}}</td>
                        <td>{{ p.book.language}}</td>
                        <td>{{ p.book.price}}</td>
                        <td>{{ p.book.category.category_name}}</td>
                        <td>{{ p.issue_date}}</td>
                        <td>{{ p.expiry_date}}</td>
                        <td><p class="bg-success p-1 text-white">{{ p.status}}</p></td>
                    </tr>
                    {% endfor %}
                </tbody> 
        </div>
    </div>
</div>
{% endif %}
<style>

:root {
        --dark: rgb(2, 91, 123);
        --light: rgb(4, 140, 190);
        --lighter: rgb(130, 213, 243);
    }

    .title {
        color: var(--dark);
    }

    .footer {
        background-color: var(--dark);

    }

    iframe {
        border-radius: 10px;
    }

    body {
        background-image: url("/static/images/a8.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 400vh;

    }

    .alert {
        background-color: var(--dark);
        color: white;
    }

  
    .statusbtn {
        border-radius: 5px;
    }



    th {
        background:var(--light);
        color: white;
    }

    table {
        border-collapse: collapse;
        border: 1px solid #cdcdcd;
        font: normal 12px arial;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #cdcdcd;
        padding: 2px;
    }


    @media only screen and (max-width: 760px),
    (min-device-width: 768px) and (max-device-width: 1024px) {

        /* Section three*/
        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        /* Section four*/
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        tr {
            border-bottom: 1px solid #ccc;
        }

        /* Section five*/
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

        td:before {
            position: absolute;
            top: 3px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            font-weight: bold;
        }

        /* Section six*/

        td:nth-of-type(1):before {
            content: "BOOK NAME";
        }

        td:nth-of-type(2):before {
            content: "AUTHOR";
        }

        td:nth-of-type(3):before {
            content: "IMAGE";
        }

        td:nth-of-type(4):before {
            content: "PUBLISHED YEAR";
        }

        td:nth-of-type(5):before {
            content: "LANGUAGE";
        }

        td:nth-of-type(6):before {
            content: "READING PRICE";
        }

        td:nth-of-type(7):before {
            content: "CATEGORY";
        }

        td:nth-of-type(8):before {
            content: "ISSUE DATE";
        }

        td:nth-of-type(9):before {
            content: "EXPIRY DATE";
        }
        td:nth-of-type(10):before {
            content: "";
        }


    }

    /* Section seven*/
    @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
        body {
            padding: 0;
            margin: 0;
            width: 320px;
        }
    }

    /* Section eight*/
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
        body {
            width: 495px;
        }
    }
    
</style>



{% endblock %}