{% extends 'base.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block content %}




<div class="container-fluid">

<div class="row my-5">
    <div class="col-sm-4">
      <div class="card border-0 bg-transparent">
        <div class="card-body">
            {% if member.image %}
            <img src="{{ member.image.url }}" width="250px" class="img img-circle mx-auto d-block">
            {% else %}
            <img src="{% static 'images/default.png' %}" alt="" width="250px" class="img img-circle mx-auto d-block">
            {% endif %}
        
            <h4 class=" font-weight-bold text-center p-5 title " style="font-size: 5vh;">{{ user.first_name }}  {{ user.last_name }}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-8" style=" background-color: rgba(2, 101, 144,0.3) ; border: 1px solid rgb(2, 101, 144); border-radius: 10px; box-shadow: 5px 5px 10px rgb(2, 110, 132);">
      <div class="card border-0 bg-transparent">
        <div class="card-body">
            <h1 class=" text-center m-5 title" >Personal information</h1>
       
            <table class="container  table table-borderless mb-5 title" style="width: 50%;">
                <tr>
                    <th>Full Name </th>
                    <td>:</td>
                    <td>{{ user.first_name }}  {{ user.last_name }}</td>
                </tr>
               
                <tr>
                    <th>Address </th>
                    <td>:</td>
                    <td>{{ member.address }} </td>
                </tr>
               
                <tr>
                    <th>Phone Number </th>
                    <td>:</td>
                    <td>{{ member.phone }} </td>
                </tr>
                <tr>
                    <th>Email </th>
                    <td>:</td>
                    <td>{{ user.email }} </td>
                </tr>
                <tr>
                    <th>date Of Birth </th>
                    <td>:</td>
                    <td>{{ member.dob }} </td>
                </tr>
                
            </table>
    
        </div>
      </div>
    </div>
  </div>


</div>


<section id="footer1">

    <div class="footer  text-white">
        <div class="container">
            <div class="row p-5 ">
                <div class="col-md-3 font-weight-light">
                    <h5>Get to Know Us</h5>
                    <hr>
                    <h6>Far Far Away</h6>
                    <h6>Behind The World</h6>
                    <h6>Mountains</h6>
                    <h6>Far From The Countries</h6>
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-google"></i>
                </div>
                <div class="col-md-3">
                    <h5>Menu</h5>
                    <hr>
                    <h6>Shop</h6>
                    <h6>About Us</h6>
                    <h6>Contact Us</h6>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6509918.949550237!2d-123.79820902299119!3d37.184280336325216!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C%20USA!5e0!3m2!1sen!2sin!4v1675878030105!5m2!1sen!2sin"
                        width="200" height="100" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
                <div class="col-md-3">
                    <h5>Help</h5>
                    <hr>
                    <h6>Shipping Information</h6>
                    <h6>Sell on ECom</h6>
                    <h6>Fulfillment by ECom</h6>
                    <h6>Become an Affiliate</h6>
                    <h6>Advertise Your Products</h6>
                </div>
                <div class="col-md-3">
                    <h5>Location</h5>
                    <hr>
                    <div class="row">
                        <div class="col-2 py-3"><i class="fa-solid fa-location-dot"></i></div>
                        <div class="col">
                            <p> Far Far Away, Behind The World, Mountains, Far From The Countries</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-2 "><i class="fa-solid fa-phone"></i></div>
                        <div class="col">
                            <p> +234531234</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2 "><i class="fa-solid fa-envelope"></i></div>
                        <div class="col">
                            <p> publiclibrary@gmail.com</p>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

</section>

<style>

:root {
        --dark: rgb(2, 91, 123);
        --light: rgb(4, 140, 190);
        --lighter: rgb(130, 213, 243);
    }

    .title {
        color: var(--dark);
    }

    .footer {
        background-color: var(--dark);

    }

    body {
        background-image: url("/static/images/a8.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    iframe {
        border-radius: 10px;
    }
    .pbtn {
        background-color: var(--dark);
        color: white;
       
    }
    .details{
        background-color: rgba(4, 79, 113, 0.1);
        border-radius: 10px;
    }

</style>

{% endblock %}