{% extends 'admin/adminbase.html' %}
{% load static %}

{% block title %}
Edit Book Details
{% endblock %}
{% block content %}

<div class=" col-sm-12">


    <h3 class="alert alert-dark text-center my-5 ">
        Edit Book Details
    </h3>
    <form method="post" action="/edit_book/{{ book.id }}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <label class="mt-3" for="css">Category</label>
        <select class="form-control  " name="select" >
            {% for i in category %}

            <option value="{{ i.id }}">{{ i.category_name }}</option>

            {% endfor %}
        </select>
        
        <input type="text" name="name" class="form-control mt-3" value="{{ book.name}}">
        <input type="text" name="author" class="form-control mt-3" value="{{ book.author}}">
        <label class="mt-3" for="css">Upload Photo</label>
        {% if book.image %}
            <img src="{{ book.image.url }}" alt="" width="80rem"><br>
            <input type="file" name="file" accept="image/*" class="form-control " >
        {% else %}
            <input type="file" name="file" accept="image/*" class="form-control " >
        {% endif %} 
        <input type="text" name="description" class="form-control mt-3" value="{{ book.description}}">
        <input type="text" name="publishedyear" class="form-control mt-3" value="{{ book.publish_year}}">
        <input type="text" name="language" class="form-control mt-3" value="{{ book.language}}">
        <input type="number" name="price" class="form-control mt-3" value="{{ book.price}}">
        <input type="number" name="quantity" class="form-control mt-3" value="{{ book.quantity}}">
        
        <button type="submit" class="btn btn-dark mt-3 " style="width: 100%;">Submit</button>
    </form>

</div>
<style>
    .btn {
        background-color: rgb(1, 84, 80);
    }

    .btn:hover {
        background-color: rgb(5, 161, 154);
    }
</style>





{% endblock %}